@mixin card() {
  color: var(--color-card-text);
  background-color: var(--color-card-background);

  .grayed-text {
    color: var(--color-card-grayed-text);
  }

  svg {
    color: var(--color-card-text);

    &:hover {
      color: inherit;
    }
  }
}

@mixin font-properties($font-weight, $font-size, $line-height) {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin mq($breakpoint) {
  @if map-has-key($map: $breakpoints, $key: $breakpoint) {
    $breakpoint: map-get(
      $map: $breakpoints,
      $key: $breakpoint,
    );
  }

  @media screen and (min-width: #{$breakpoint}) {
    @content;
  }
}

@mixin flex($justify: flex-start, $align: stretch, $gap: 0, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  flex-direction: $direction;
}

@mixin overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  @include flex($justify: center, $align: center, $direction: column);
}

@mixin cnt {
  min-height: 100vh;
  padding: 1.5em;
  overflow: auto;

  @include mq(medium) {
    padding: 2.5em;
  }
}

@mixin remove-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin keyframe($name) {
  @keyframes #{$name} {
    @content;
  }
}

@mixin prefix($property, $value) {
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  -webkit-#{$property}: #{$value};
  #{$property}: #{$value};
}
