@mixin card() {
  color: var(--color-card-text);
  background-color: var(--color-card-background);

  .grayed-text {
    color: var(--color-card-grayed-text);
  }

  svg {
    color: var(--color-card-text);

    &:hover {
      color: inherit;
    }
  }
}

@mixin font-properties($font-weight, $font-size, $line-height) {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin mq($breakpoint) {
  @if map-has-key($map: $breakpoints, $key: $breakpoint) {
    $breakpoint: map-get(
      $map: $breakpoints,
      $key: $breakpoint,
    );
  }

  @media screen and (min-width: #{$breakpoint}) {
    @content;
  }
}

@mixin space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin cnt {
  min-height: 100vh;
  padding: 24px;
  overflow: auto;

  @include mq(medium) {
    padding: 40px;
  }
}
