.curtain {
  @include overlay;
  background-color: var(--color-light-bg);
  color: var(--color-light-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    display: block;
    position: absolute;
    bottom: 10vh;
    border: none;
    background-color: transparent;
    @include font-properties(400, 14px, 17px);
    display: flex;
    align-items: center;
    justify-content: center;

    @include mq(medium) {
      @include font-properties(400, 20px, 24px);
    }

    @include mq(large) {
      @include font-properties(400, 24px, 30px);
    }
  }

  .circle {
    display: block;
    border: 1px solid var(--color-light-text);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-left: 8px;

    @include mq(medium) {
      width: 12px;
      height: 12px;
      margin-left: 12px;
    }

    @include mq(large) {
      width: 16px;
      height: 16px;
      margin-left: 16px;
    }
  }

  .welcome-text {
    @include font-properties(700, 27px, 33px);

    @include mq(medium) {
      @include font-properties(700, 64px, 72px);
    }

    @include mq(large) {
      @include font-properties(700, 80px, 99px);
    }
  }

  .loading-bar {
    height: 50px;
    width: 150px;
    background-color: var(--color-light-text);
    margin-bottom: 34px;

    @include mq(medium) {
      height: 75px;
    }

    @include mq(large) {
      height: 100px;
    }
  }

  .loading-text {
    @include font-properties(400, 14px, 17px);

    @include mq(medium) {
      @include font-properties(400, 20px, 24px);
    }

    @include mq(large) {
      @include font-properties(400, 24px, 30px);
    }
  }
}
