.home {
  @include cnt;

  .desc {
    @include font-properties(400, 17px, 135%);
    margin-bottom: 2.25em;

    @include mq(medium) {
      max-width: 420px;
    }

    @include mq(large) {
      max-width: 576px;
    }

    .highlighted {
      font-weight: 500;
    }
  }

  .languages {
    @include font-properties(700, 18px, 135%);
    margin-bottom: 0.5em;

    @include mq(large) {
      text-align: right;
    }

    &-content {
      text-transform: capitalize;
      margin-bottom: 3em;
      @include font-properties(400, 16px, 135%);

      @include mq(large) {
        text-align: right;
      }
    }
  }

  .about {
    @include mq(medium) {
      @include flex($justify: space-between, $align: flex-start);
    }
  }

  .projects {
    @include flex($gap: 0.75em, $align: center);
    width: fit-content;

    &-list {
      > h2 {
        @include font-properties(700, 18px, 135%);
        margin-bottom: 0.5em;

        @include mq(large) {
          font-size: 24px;
        }
      }
    }

    &-container {
      max-width: 100%;
      overflow-y: hidden;
      overflow-x: auto;
      @include remove-scrollbar;
      @include mq(large) {
        height: 280px;
      }
    }
  }

  .footer {
    @include flex($justify: space-between, $align: flex-end);
    margin-top: 1.25em;

    @include mq(medium) {
      margin-top: 1.5em;
    }
    @include mq(large) {
      margin-top: 1.75em;
    }
    > * {
      max-width: 50%;
    }

    .inspo {
      margin-bottom: 0.5em;
      @include font-properties(400, 18px, 135%);
    }
  }

  #kadet-link {
    &:hover svg {
      animation: slide-tr 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
  }

  #mobile-toggle {
    svg {
      width: 24px;
      height: 24px;
    }
  }
}
