.home {
  @include cnt;

  .desc {
    @include font-properties(400, 16px, 135%);
    margin-bottom: 36px;

    @include mq(medium) {
      max-width: 500px;
    }

    .highlighted {
      font-weight: 500;
    }
  }

  .languages {
    margin-bottom: 8px;
    @include font-properties(700, 14px, 135%);
    @include mq(large) {
      text-align: right;
    }

    &-content {
      text-transform: capitalize;
      margin-bottom: 48px;
      @include font-properties(400, 14px, 135%);
      @include mq(large) {
        text-align: right;
      }
    }
  }

  .about {
    @include mq(medium) {
      @include space-between;
    }
  }

  .projects {
    display: flex;
    gap: 16px;
    width: fit-content;

    @include mq(large) {
      gap: 32px;
    }

    &-list {
      > h2 {
        margin-bottom: 16px;
        @include font-properties(700, 14px, 135%);

        @include mq(large) {
          margin-bottom: 32px;
          @include font-properties(700, 24px, 135%);
        }
      }
    }

    &-container {
      max-width: 100%;
      overflow-y: hidden;
      overflow-x: auto;
    }
  }

  .footer {
    margin-top: 30px;

    @include space-between;
    @include mq(large) {
      margin-top: 60px;
    }

    .inspo {
      margin-bottom: 8px;
      @include font-properties(500, 18px, 135%);
    }
  }
}
