.resume {
  &-container {
    @include cnt;
  }

  @include flex($direction: column-reverse);

  @include mq(medium) {
    @include flex($direction: row, $align: flex-end, $justify: space-between);
  }

  .download-links {
    margin: 2.5em 0;

    svg {
      margin-right: 0.5em;
    }

    li {
      margin-bottom: 0.5em;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
