.dark {
  background-color: var(--color-dark-bg);
  color: var(--color-dark-text);

  .sidebar {
    background-color: var(--color-dark-bg);
  }

  .highlighted {
    color: var(--color-dark-highdarked-text);
  }

  svg {
    color: var(--color-dark-icon);
    &:hover {
      color: var(--color-dark-icon-hover);
    }
  }

  #project-link {
    svg {
      color: var(--color-light-icon);
      &:hover {
        color: var(--color-light-icon-hover);
      }
    }
  }
}
