.light {
  background-color: var(--color-light-bg);
  color: var(--color-light-text);

  .sidebar {
    background-color: var(--color-light-bg);
  }

  .highlighted {
    color: var(--color-light-highlighted-text);
  }

  svg {
    color: var(--color-light-icon);
    &:hover {
      color: var(--color-light-icon-hover);
    }
  }

  .project-card:hover svg {
    color: var(--color-dark-icon-hover);
  }
}
