.cv {
  @include card;
  padding: 1.5em;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 70vh;
  max-width: 615px;
  @include remove-scrollbar;

  @include mq(medium) {
    padding: 2.5em;
  }

  .name {
    @include font-properties(500, 24px, 30px);
  }

  .role {
    @include font-properties(400, 16px, 20px);
    margin-bottom: 2em;
  }

  .title {
    @include font-properties(500, 18px, 22px);
    text-transform: capitalize;
    color: var(--color-card-title);
    margin-bottom: 0.25em;

    &-last {
      @include font-properties(500, 24px, 30px);
      margin-bottom: 1em;
    }
  }

  .mb-24 {
    margin-bottom: 1.5em;
  }

  .mb-64 {
    margin-bottom: 4em;
  }
}
