.project-card {
  @include card;
  width: 300px;
  padding: 1.25em;
  cursor: pointer;

  @include mq(medium) {
    padding: 1.7em;
    width: 420px;
  }

  @include mq(large) {
    padding: 2.5em;
    width: 540px;
  }

  .title {
    @include font-properties(700, 17px, 135%);
    @include mq(medium) {
      font-size: 24px;
    }
    margin-bottom: 1em;
  }

  .desc {
    @include font-properties(400, 14px, 135%);
    height: 50px;
    margin-bottom: 1.75em;

    @include mq(medium) {
      @include font-properties(400, 16px, 135%);
      margin-bottom: 3.25em;
    }
  }

  .details {
    @include flex($justify: space-between, $align: center);

    text-transform: capitalize;
    @include font-properties(400, 14px, 135%);

    @include mq(medium) {
      @include font-properties(400, 16px, 135%);
    }
  }

  .detail-title {
    text-transform: uppercase;
  }

  .detail-body {
    font-weight: 500;
  }
}
