.workexp {
  margin-bottom: 2em;

  .duration {
    @include font-properties(400, 12px, 15px);
    margin-bottom: 1em;
  }

  .company {
    @include font-properties(400, 14px, 17px);
    margin-bottom: 0.5em;

    .bold {
      @include font-properties(500, 18px, 22px);
    }
  }

  ul {
    padding-left: 2.5em;
  }

  li {
    list-style: disc;
    @include font-properties(400, 14px, 21px);
  }
}
