.header {
  @include flex($justify: space-between, $gap: 25vw);
  margin-bottom: 1em;

  @include mq(medium) {
    margin-bottom: 1.5em;
  }

  @include mq(large) {
    margin-bottom: 2em;
  }

  .profile-img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }

  ul {
    @include flex($align: flex-start);
  }

  li {
    @include font-properties(500, 20px, 135%);
    margin-left: 1.5em;
    cursor: pointer;
  }

  .name {
    @include font-properties(800, 21px, 26px);
    margin-bottom: 1em;
  }

  .toggle {
    width: 32px;
    height: 32px;
  }
}
