.header {
  display: flex;
  gap: 25vw;
  justify-content: space-between;
  margin-bottom: 16px;

  @include mq(medium) {
    margin-bottom: 24px;
  }

  @include mq(large) {
    margin-bottom: 32px;
  }

  .profile-img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }

  ul {
    display: flex;
    align-items: flex-start;
  }

  li {
    margin-left: 26px;
    cursor: pointer;
    @include font-properties(500, 20px, 135%);
  }

  .name {
    @include font-properties(800, 21px, 26px);
    margin-bottom: 16px;
  }

  .toggle {
    width: 32px;
    height: 32px;
  }
}
